body{
    background-image: url("white-painted-wall-1939485.jpg");
    background-size: 100%;
}
header{
    text-align: center;
    color: lightgray;
    background-color: steelblue;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
h1{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
}
h3{
    padding-bottom: 25px;
    padding-top: 25px;
}
select{
    float: right;
    background-color: antiquewhite;
}
input{
    float: right;
    background-color: antiquewhite;
}
.news img{
    max-width: 100%;
    height: auto;
}
a{
    color: #4b78ff;
}
a:hover{
    color: orangered;
    transition: 1s;
    text-decoration: none;
}
div.alert{
    font-size: 18px;
    text-align: center;
}
.pagination{
    font-size: 24px;
}