{% extends 'base.html' %}

    {% block title %}Everything News{% endblock %}

    {% block header %}
    News from Around The World
    {% endblock %}


    {% block content %}

    <section class="news">
        <div class="container">

            {% if data['status'] != 'ok' %}
            <p>Status: {{ data['status'] }}</p>
            <p>Code: {{ data['code'] }}</p>
            <p>Message: {{ data['message'] }}</p>
            {% endif %}

            <p>Total results {{ data['totalResults'] }}</p>
            <h3><a href="{{ url_for('index') }}" class="text_link">Back to the index page</a></h3>
            {{ pagination.info }}
            {{ pagination.links }}

            <div class="row">

                {% for article in data['articles'] %}
                    <div class="col-sm-6 col-lg-4">
                        <h6><a href="{{ article['url'] }}" class="text_link" target="_blank">{{ article['title'] }}</a></h6>
                        <p>{{ article['publishedAt']|my_date_time_format }}</p>
                        <img src="{{ article['urlToImage'] }}" alt="Image">
                        <p>{{ article['author'] }}</p>
                        <br><br>
                    </div>
                {% endfor %}

            </div>

            <div class="pagination">{{ pagination.links }}</div>
                <h3><a href="{{ url_for('index') }}" class="text_link">Back to the index page</a></h3>

        </div>
    </section>
    {% endblock %}


    {% block bottom %}
        <h4><a href="{{ url_for('index') }}" class="text_link">Back to the main page</a> </h4>
    {% endblock %}