{% extends 'base.html' %}

    {% block title %}Index{% endblock %}

    {% block header %}
        Top news from around the world
    {% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-6" style="padding-right: 50px; padding-left: 50px">

                <div>
                <h3>Top Headlines</h3>
                </div>

                <form method="post" action="{{ url_for('top_headlines') }}">

                    <div class="form-group">

                        <div>
                            <label for="country">Country:</label>
                            <select name="country" class="form-control mb-3" id="country">
                                <option selected>pl</option>
                                <option>gb</option>
                                <option>us</option>
                                <option>au</option>
                                <option>ca</option>
                            </select>
                        </div>

                        <div>
                            <label for="category">Category:</label>
                            <select name="category" class="form-control mb-3" id="category">
                                <option selected>General</option>
                                <option>health</option>
                                <option>science</option>
                                <option>sports</option>
                                <option>technology</option>
                                <option>business</option>
                                <option>entertainment</option>
                            </select>
                        </div>

                        <div>
                            <label for="q">Keyword:</label>
                            <input type="text" name="q" placeholder="Topic keyword" id="q" class="form-control mb-3">
                        </div>

                        <div>
                            <label for="page_size">News on page:</label>
                            <select name="pageSize" class="form-control mb-4" id="page_size">
                                <option selected>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>

                        <div>
                        <input type="submit" value="Look for news" class="btn btn-primary btn-lg btn-block">
                        </div>

                    </div>
                </form>
            </div>


            <div class="col-sm-12 col-md-12 col-lg-6" style="padding-left: 50px; padding-right: 50px">
                <div>
                <h3>Everything News</h3>
                </div>

                <form method="post" action="{{ url_for('everything') }}">

                    <div class="form-group">

                        <div>
                        <label for="q2">Keyword in article body:</label>
                        <input type="text" name="q" placeholder="Type a keyword in article body" id="q2" class="form-control mb-3">
                        </div>

                        <div>
                            <label for="qInTitle">Keyword in article title:</label>
                            <input type="text" name="qInTitle" placeholder="Keyword in article title" id="qInTitle" class="form-control mb-3">
                        </div>

                        <div>
                            <label for="from">From date:</label>
                            <input type="date" name="from" placeholder="from date" id="from" class="form-control mb-3">
                        </div>

                        <div>
                            <label for="to">To date:</label>
                            <input type="date" name="to" placeholder="to date" id="to" class="form-control mb-3">
                        </div>

                        <div>
                            <label for="language">Language:</label>
                            <select name="language" id="language" class="form-control mb-3">
                            <option selected>pl</option>
                            <option>en</option>
                            </select>
                        </div>

                        <div>
                            <label for="sortBy">Sort by:</label>
                            <select name="sortBy" id="sortBy" class="form-control mb-3">
                                <option>relevancy</option>
                                <option>popularity</option>
                                <option selected>publishedAt</option>
                            </select>
                        </div>

                        <div>
                            <label for="pageSize">News on page:</label>
                            <select name="pageSize" id="pageSize" class="form-control mb-3">
                                <option selected>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>

                        <div>
                            <input type="submit" value="Look for news" class="btn btn-primary btn-lg btn-block">
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>