{% extends 'base.html' %}

    {% block title %}Top Headlines{% endblock %}


    {% block header %}
    Latest Headlines from Around The World
    {% endblock %}


    {% block content %}

    <section class="news">
        <div class="container">

            {% if data['status'] != 'ok' %}
            <p>Status: {{ data['status'] }}</p>
            {% endif %}
            <p>Total results {{ data['totalResults'] }}</p>
            <h3><a href="{{ url_for('index') }}" class="text_link">Back to the index page</a></h3>

            {{ pagination.info }}
            {{ pagination.links }}

            <div class="row">

                {% for article in data['articles'] %}
                    <div class="col-sm-6 col-lg-4">
                        <h6><a href="{{ article['url'] }}" class="text_link" target="_blank">{{ article['title'] }}</a></h6>
                            <p>{{ article['publishedAt']|my_date_time_format }}</p>
                            <p><img src="{{ article['urlToImage'] }}" height="160px" alt="Obrazek"></p>
                            <p>{{ article['author'] }}</p>
                            <br><br>
                    </div>
                {% endfor %}

            </div>

            {{ pagination.links }}

                <h3><a href="{{ url_for('index') }}" class="text_link">Back to the index page</a></h3>

        </div>
    </section>

    {% endblock %}
